.register-page-layout {
  display: flex;
  justify-content: center;
  margin-top: 15vh;
}

.register {
  width: 250px;
  display: flex;
  flex-direction: column;
  padding: 10px 25px;
}

.register__items {
  margin: 5px 0;
}

.register-btns-row {
  display: flex;
  justify-content: space-around;
}
